<header>
  <img
    src="assets/img/douglas.jpeg"
    alt="{{ fullName }} - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>{{ fullName }}</h1>
</header>

<aside>
  <div class="container">

    <p>{{ myPrincipalStack }}</p>
    <p>{{ myLocation }}</p>
    <p>{{ moreAboutMe }}</p>

    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/curriculo_Douglas_ Sutil.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            Donwload Cv
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/douglas-campos-sutil"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
        <figure>
            <img
            src="assets/icons/whatsapp.svg"
            alt="Ícone para contato do WhatsApp"
            width="22px"
            height="24px"
            />

            <figcaption>
                <a href="https://api.whatsapp.com/send?phone=5527992471515&text=Ol%C3%A1%20Douglas,%20preciso%20de%20um%20job!" 
                target="_blank">
                <strong>Envie uma mensagem para:</strong>
                <p>WhatsApp: (27) 99247-1515</p>
            </a>
            </figcaption>
        </figure>
        <figure>
            <img
            src="assets/icons/mail.svg"
            alt="Ícone para contato de E-mail"
            width="22px"
            height="24px"
            />

            <figcaption>
                <a href="mailto:douglassutil@gmail.com" 
                target="_blank">
                <strong>Envie um e-mail para:</strong>
                <p>douglassutil&#64;gmail.com</p>
            </a>
            </figcaption>
        </figure>
    </section>

  </div>
</aside>
